@media (max-width: 1150px) {
  .footer__inner {
    flex-wrap: wrap;
    .footer__col-address {
      margin-bottom: 30px;
      min-width: 100%;
    }
  }
  .header__text {
    display: none;
  }
}
@media (max-width: 900px) {
  .footer__inner {
    justify-content: flex-start;
    .footer__col-menu {
      & + & {
        margin-left: 40px;
      }
    }
    .footer__col-socical {
      margin-top: 30px;
      min-width: 100%;
    }
  }
}
@media (max-width: 840px) {
  .menu__btn {
    display: block;
    width: 30px;
    cursor: pointer;
    div {
      height: 3px;
      background-color: #fff;
      & + div {
        margin-top: 5px;
      }
    }
  }
  .user__menu,
  .circle__menu {
    z-index: 2;
  }
  .menu__list {
    display: none;
    background-color: $darkblue;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1;
    a {
      display: block;
      padding: 10px 0;
      font-size: 20px;
    }
    li {
      display: block;
      border-bottom: 1px solid #fff;
      padding-bottom: 30px;
      text-align: center;
      & + li {
        margin-left: 0;
      }
      &:first-child {
        border-top: 1px solid #fff;
      }
    }
  }
}
@media (max-width: 640px) {
  .notification__box,
  .message__box {
    display: none;
  }
  .circle__menu {
    left: -20px;
    right: auto;
  }
}
@media (max-width: 570px) {
}
@media (max-width: 540px) {
  .footer__col {
    min-width: 100%;
  }
  .footer__col-menu {
    & + & {
      margin-left: 0px;
      margin-top: 30px;
    }
  }
}

@media (max-width: 520px) {
  .header__btn-menu {
    display: block;
  }
  .menu__list {
    top: 70px;
  }
  .header__btn-menu {
    display: block;
    min-width: 70px;
    height: 70px;
    background-color: $darkblue;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: #fff;
    }
  }
  .header__box {
    position: absolute;
    transition: all 0.5s;
    left: 100%;
    right: -100%;
    background-color: #fff;
    height: 70px;
    &.active {
      left: 70px;
      right: 90px;

      z-index: 2;
    }
  }
  .header_logo {
    margin-left: 60px;
  }
  .menu__btn {
    position: absolute;
    top: 24px;
    div {
      background-color: #000;
    }
  }
  .header__top-inner {
    height: 70px;
  }
  .circle__menu {
    top: 52px;
  }
  .user__menu {
    top: 60px;
  }
}

@media (max-width: 495px) {
  .user__info {
    display: none;
  }
  .user__images {
    margin-right: 0;
  }
}
@media (max-width: 390px) {
  .header__box {
    &.active {
      left: 47px;
    }
  }
  .basket__box {
    margin-left: 0;
  }
  .menu__btn {
    left: 10px;
  }
}
@media (max-width: 360px) {
  .user {
    margin-right: 10px;
  }
  .basket__box {
    margin-right: 10px;
  }
  .header__logo {
    margin-left: 50px;
  }
}
@media (min-width: 841px) {
  .menu__btn {
    display: block !important;
  }
}
